.habit-charts {
  height: 100%;
  display: flex;
  flex-direction: column;

  &--empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin-bottom: 24px;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
  }

  &__section {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
