.unit-converter {
  min-height: 100vh;
  background: #f0f2f5;
}

.unit-converter__sider {
  background-color: #fff;
  padding: 20px;
  overflow: auto;
  height: calc(100vh - 64px);
}

.unit-converter__unit-list {
  background-color: #fff;
  padding: 20px;
  padding-left: 0px;
  overflow: auto;
  height: calc(100vh - 64px);
}

.unit-converter__content {
  padding: 10px;
  overflow: auto;
}

.unit-converter__result-container {
  max-width: 800px;
  margin: 0 auto;
}
